@charset "UTF-8";

body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
button,
textarea,
p,
blockquote,
th,
td {
    margin: 0;
    padding: 0
}

fieldset,
img {
    border: 0
}

:focus {
    outline: 0
}

address,
caption,
cite,
code,
dfn,
em,
strong,
th,
var,
optgroup {
    font-style: normal;
    font-weight: 400
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: 100%;
    font-weight: 400;
    font-family: "Microsoft YaHei"
}

abbr,
acronym {
    border: 0;
    font-variant: normal
}

code,
kbd,
samp,
tt {
    font-size: 100%
}

input,
button,
textarea,
select {
    *font-size: 100%;
    border: 0
}

body {
    background: #fff;
    color: #5e5e5e;
    font: 14px/2em Microsoft YaHei, SimSun, Arial
}

ol,
ul {
    list-style: none
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

caption,
th {
    text-align: left
}

sup,
sub {
    font-size: 100%;
    vertical-align: baseline
}

:link,
:visited,
ins {
    text-decoration: none
}

blockquote,
q {
    quotes: none
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none
}

a:link,
a:visited {
    color: #5e5e5e
}

a:hover {
    color: #c9394a
}

a:active {
    color: #666
}

.clearfix:after {
    content: '\0020';
    display: block;
    height: 0;
    clear: both;
    visibility: hidden
}

.clearfix {
    *zoom: 1
}

.l {
    float: left
}

.r {
    float: right
}

.clear {
    height: 0;
    overflow: hidden;
    clear: both
}

.hide {
    display: none
}

.btn.hide {
    display: none
}

a.hidefocus {
    outline: 0
}

button.hidefocus::-moz-focus-inner {
    border: 0
}

a:focus {
    outline: 0;
    -moz-outline: 0
}

input,
textarea {
    outline: 0
}

h2 {
    font-size: 20px
}

h3 {
    font-size: 16px;
    line-height: 32px
}

h5 {
    font-size: 14px;
    line-height: 28px
}

.img_border {
    border: 4px solid #fff;
    border-radius: 1px
}

.bb {
    border-bottom: 1px solid #d2d2d2
}

.bt {
    border-top: 1px solid #d2d2d2
}

.bbn {
    border-bottom: 0 !important
}

.mc {
    margin: 0 auto !important
}

.m0 {
    margin: 0 !important
}

.m1 {
    margin: 1px !important
}

.m2 {
    margin: 2px !important
}

.m3 {
    margin: 3px !important
}

.m4 {
    margin: 4px !important
}

.m5 {
    margin: 5px !important
}

.m10 {
    margin: 10px
}

.m15 {
    margin: 15px
}

.m20 {
    margin: 20px
}

.m25 {
    margin: 25px
}

.m30 {
    margin: 30px
}

.mt5 {
    margin-top: 5px !important
}

.mt0 {
    margin-top: 0 !important
}

.mt10 {
    margin-top: 10px !important
}

.mt14 {
    margin-top: 14px
}

.mt15 {
    margin-top: 15px
}

.mt18 {
    margin-top: 18px
}

.mt20 {
    margin-top: 20px !important
}

.mt30 {
    margin-top: 30px
}

.mt40 {
    margin-top: 40px
}

.mt50 {
    margin-top: 50px
}

.mt60 {
    margin-top: 60px
}

.mt70 {
    margin-top: 70px
}

.mt80 {
    margin-top: 80px
}

.mt90 {
    margin-top: 90px
}

.mt100 {
    margin-top: 100px
}

.mb0 {
    margin-bottom: 0 !important
}

.mb3 {
    margin-bottom: 3px
}

.mb5 {
    margin-bottom: 5px !important
}

.mb10 {
    margin-bottom: 10px
}

.mb15 {
    margin-bottom: 15px
}

.mb20 {
    margin-bottom: 20px !important
}

.mb25 {
    margin-bottom: 25px !important
}

.mb30 {
    margin-bottom: 30px
}

.mb40 {
    margin-bottom: 40px
}

.mb50 {
    margin-bottom: 50px
}

.mb55 {
    margin-bottom: 55px
}

.mb80 {
    margin-bottom: 80px
}

.mb100 {
    margin-bottom: 100px
}

.ml0 {
    margin-left: 0 !important
}

.ml8 {
    margin-left: 8px !important
}

.ml1 {
    margin-left: 1px !important
}

.ml5 {
    margin-left: 5px !important
}

.ml10 {
    margin-left: 10px !important
}

.ml12 {
    margin-left: 12px !important
}

.ml13 {
    margin-left: 13px !important
}

.ml15 {
    margin-left: 15px !important
}

.ml25 {
    margin-left: 25px !important
}

.ml20 {
    margin-left: 20px !important
}

.ml30 {
    margin-left: 30px !important
}

.ml35 {
    margin-left: 35px !important
}

.ml38 {
    margin-left: 38px !important
}

.ml40 {
    margin-left: 40px !important
}

.ml50 {
    margin-left: 50px !important
}

.ml60 {
    margin-left: 60px !important
}

.ml55 {
    margin-left: 55px !important
}

.ml57 {
    margin-left: 57px !important
}

.ml60 {
    margin-left: 60px !important
}

.ml80 {
    margin-left: 80px !important
}

.ml100 {
    margin-left: 100px !important
}

.ml110 {
    margin-left: 110px !important
}

.ml120 {
    margin-left: 120px !important
}

.ml150 {
    margin-left: 150px !important
}

.ml200 {
    margin-left: 200px !important
}

.ml250 {
    margin-left: 250px !important
}

.ml285 {
    margin-left: 285px !important
}

.ml835 {
    margin-left: 835px !important
}

.mr5 {
    margin-right: 5px !important
}

.mr10 {
    margin-right: 10px !important
}

.mr15 {
    margin-right: 15px !important
}

.mr20 {
    margin-right: 20px !important
}

.mr30 {
    margin-right: 30px !important
}

.mr40 {
    margin-right: 40px !important
}

.mr50 {
    margin-right: 50px !important
}

.mr80 {
    margin-right: 80px !important
}

.mr100 {
    margin-right: 100px !important
}

.mr250 {
    margin-right: 250px !important
}

.mr300 {
    margin-right: 300px !important
}

.pointer {
    cursor: pointer
}

.color-gray,
a.color-gray:link,
a.color-gray:visited {
    color: #b7bcc0
}

.color-white {
    color: #fff !important
}

.color-blue {
    color: #088bd3
}

.fl {
    float: left
}

.fr {
    float: right
}

.mr60 {
    margin-right: 60px
}

.color-red {
    color: #EF1300 !important
}

.pr {
    position: relative
}

.pa {
    position: absolute
}

.errorHint {
    height: 25px;
    line-height: 20px;
    font-size: 12px;
    color: #f01414
}

.breakall {
    word-break: break-all
}

.wui-dialog {
    background-color: #fff;
    box-shadow: #ccc 1px 4px 20px 3px;
    position: absolute;
    box-shadow: 0 12px 24px 0 rgba(0, 0, 0, .24)
}

.cb {
    clear: both
}

.fs12 {
    font-size: 12px !important
}

.fs14 {
    font-size: 14px !important
}

.fs16 {
    font-size: 16px !important
}

.fs18 {
    font-size: 18px !important
}

.fs20 {
    font-size: 20px !important
}

.bold {
    font-weight: 700 !important
}