{% load static %}

<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>404</title>
	<link rel="stylesheet" type="text/css" href="{% static 'css/reset.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/animate.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
	<script type="text/javascript" src="{% static 'js/jquery.min.js' %}"></script>
</head>
<body class="bg404 errorpage">
<section>
	<div class="wp">
		<div class="cont">
			<img src="{% static 'images/pic404.png' %}"/>
			<br/><br/><br/><br/>
			<p>404 错误</p>
			<br/>
			<span>404 error</span>
		</div>
	</div>
</section>
</body>
</html>
