{% extends 'base/base.html' %}
{% load static %}

{% block content %}


<div class="v-settings">
    <div class="ui two column grid ">
        <div class="four wide column">
            {% include "left_nav.html" %}
        </div>
        <div class="twelve wide column">
            <div class="v-settings-content">
                <form novalidate class="ui form" method="post">
                  {% csrf_token %}
                    <div class="sixteen wide inline field v-form-field">
                        <label>旧密码</label>
                        {{ form.old_password}}
                    </div>
                    <div class="sixteen wide inline field v-form-field">
                        <label>新密码</label>
                        {{ form.new_password1}}
                    </div>
                    <div class="sixteen wide inline field v-form-field">
                        <label>确认密码</label>
                        {{ form.new_password2}}
                    </div>
                  <button class="ui primary button" type="submit">保存</button>

                    {% include "form_errors.html" %}
                    {% include "form_messages.html" %}

                </form>
            </div>
        </div>

    </div>
</div>

{% endblock content %}

{% block javascript %}
<script type="text/javascript">
$('.ui .dropdown').dropdown();
</script>
<script src="{% static 'js/left_nav.js' %}"></script>
{% endblock javascript %}

