{% extends 'base.html' %}

{% block titile %}
{{ video.name }}
{% endblock %}

{% load static %}
<!--crumbs start-->
{% block custom_bread %}
<section>
    <div class="wp">
        <div class="crumbs">
            <ul>
                <li><a href="{% url 'index' %}">首页</a>></li>
                <li><a href="{% url 'course:course_list' %}">课程</a>></li>
                <li><a href="{% url 'course:course_detail' course.id %}">{{ course.name }}</a>></li>
                <li></li>
            </ul>
        </div>
    </div>
</section>
{% endblock %}

{% block custom_css %}
<link rel="stylesheet" type="text/css" href="{% static 'css/video-js.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/jzmj/base.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'css/jzmj/common-less.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'css/jzmj/course/learn-less.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'css/mooc.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'css/jzmj/course/common-less.css' %}">
<style>
    .video-js .vjs-big-play-button {
        top: 50%;
        left: 50%;
    }
</style>
{% endblock %}

{% block custom_js %}
<script src="{% static 'js/video.min.js' %}" type="text/javascript"></script>
{% endblock %}

{% block content %}
<div id="main">

    <div class="course-info-main clearfix w has-progress">
        <div style="width:800px;height: 640px; margin-left:100px">
            <video id="example_video_1" class="video-js vjs-default-skin" controls preload="none" width="800px"
                data-setup="" type="video/mp4">
                <source src="{{ video.url }}">
            </video>
        </div>
        <div class="info-bar clearfix">
            <div class="content-wrap clearfix">
                <div class="content">
                    <div class="mod-tab-menu">
                        <ul class="course-menu clearfix">
                            <li><a class="ui-tabs-active active" id="learnOn"
                                    href="{% url 'course:course_info' course.id %}"><span>章节</span></a></li>
                        </ul>
                    </div>
                    <div class="mod-chapters">
                        {% for lesson in course.lesson_set.get_queryset %}
                        <div class="chapter chapter-active">
                            <h3>
                                <strong><i class="state-expand"></i>{{ lesson.name }}</strong>
                            </h3>
                            <ul class="video">

                                {% for video in lesson.video_set.get_queryset %}
                                <li>
                                    <a target="_blank" href='{% url 'course:video_play' video.id %}'
                                        class="J-media-item studyvideo">{{ video.name }}
                                        ({{ video.learn_times }})
                                        <i class="study-state"></i>
                                    </a>
                                </li>
                                {% endfor %}

                            </ul>
                        </div>
                        {% endfor %}
                    </div>

                </div>
                <!-- <div class="aside r">
                    <div class="bd">

                        <div class="box mb40">
                            <h4>资料下载</h4>
                            <ul class="downlist">
                                {% for course_resource in course.courseresource_set.get_queryset %}
                                <li>
                                    <span><i
                                            class="aui-iconfont aui-icon-file"></i>&nbsp;&nbsp;{{ course_resource.name }}</span>
                                    <a href="{{ MEDIA_URL }}{{ course_resource.download }}" class="downcode"
                                        target="_blank" download="" data-id="274" title="">下载</a>
                                </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div> -->
            </div>
        </div>
        <div class="clear"></div>

    </div>

</div>
</div>
{% endblock %}