{#templates/course-list.html#}

{% extends 'base.html' %}
{% load static %}
{% block title %}课程列表{% endblock %}

{% block custom_bread %}
<section>
    <div class="wp">
        <ul class="crumbs">
            <li><a href="{% url 'index' %}">首页</a>></li>
            <li>课程</li>
        </ul>
    </div>
</section>
{% endblock %}

{% block content %}
<section>
    <div class="wp">
        <div class="list" style="margin-top:0;">
            <div class="left layout">
                <div class="head">
                    <ul class="tab_header">
                        <li class="{% ifequal sort '' %}active{% endifequal %}"><a href="?sort=">最新 </a></li>
                    </ul>
                </div>
                <div id="inWindow">
                    <div class="tab_cont " id="content">
                        <div class="group_list">
                            {% for course in all_courses.object_list %}
                            <div class="box">
                                <a href="{% url 'course:course_detail' course.id %}">
                                    <img width="300" height="300" class="scrollLoading"
                                        src="{{ MEDIA_URL }}{{ course.image }}" />
                                </a>
                                <div class="des">
                                    <a href="{% url 'course:course_detail' course.id %}">
                                        <h2>{{ course.name }}</h2>
                                    </a>
                                    <span class="fl">时长：<i class="key">{{ course.learn_times }}</i></span>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                        <div class="pageturn">
                            <ul class="pagelist">
                                {% if all_courses.has_previous %}
                                <li class="long"><a href="?{{ all_courses.previous_page_number.querystring }}">上一页</a>
                                </li>
                                {% endif %}

                                {% for page in all_courses.pages %}
                                {% if page %}
                                {% ifequal page all_courses.number %}
                                <li class="active"><a href="?{{ page.querystring }}">{{ page }}</a></li>
                                {% else %}
                                <li><a href="?{{ page.querystring }}" class="page">{{ page }}</a></li>
                                {% endifequal %}
                                {% else %}
                                <li class="none"><a href="">...</a></li>
                                {% endif %}
                                {% endfor %}
                                {% if all_courses.has_next %}
                                <li class="long"><a href="?{{ all_courses.next_page_number.querystring }}">下一页</a></li>
                                {% endif %}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}